	<div id="verho">
		<div id="popup" ng-init="sivu = null">
			<h1>{{sivu.nimi}}</h1>
			<div id="sivuView">

			</div>
			<input type="button" ng-click="suljeVerho()" ng-value="closePage" />
		</div><!-- end of popup -->
		
		<div id="rataInfo" ng-init="info">
			<h1>{{info.nimi}}</h1>
			{{startUp}} {{info.osoite}}
			<br/>
			{{poi}}: {{truTarget}}
			<br/>
			{{pituus}}: {{lngth}} m

			<br/>
			{{kuvaus}}
			<input type="button" ng-click="suljeVerho()" ng-value="closePage" />
		</div>

	</div> <!-- end of verho -->
	
	<div id="mapPage">
		<div style="float:left;overflow-x:hide">
		
		{{reitinNimi}} </div>
		<div id="etaisyys" style="float:right;" ng-init="lkm = 0;etaisyys = 0">POI: {{lkm}} | {{etaisyys}}m </div>
		<!--<input type="button" style="height:auto;width:auto;font-size:inherit;margin-top:10px;" ng-click="editTrail()" value="Muokkaa" />-->
	</div>
	<div id="map"></div>

	
	
	