	<div id="verho">
		<div id="popup" ng-init="sivu = null">
			<h1>{{sivu.nimi}}</h1>
			<div id="sivuView">

			</div>
			<input type="button" ng-click="suljeVerho()" ng-value="closePage" />
		</div><!-- end of popup -->
		
		<div id="rataInfo" ng-init="info">
			<h1>{{info.nimi}}</h1>
			<table>
				<tr>
					<td style="padding-right:15px">{{pituus}}: {{lngth}} km</td><td> {{poi}}: {{info.truMarkers.length}}</td>
				</tr>
			</table><table>
				<tr>
					<td style="padding-right:15px"><strong>{{startUp}}</strong></td>
					<td> {{info.osoite}}</td>
				</tr>
				<tr>
					<td style="padding-right:15px"><strong>{{tags}}:</strong></td>
					<td>{{tagit}}</td>
				</tr>
			</table>
			<p>INFO</p>
			<p>{{kuvaus}}</p>
			<p>POINTS OF INTEREST</p>
			<div ng-repeat="kohde in info.truMarkers">
				{{$index+1}}. {{kohde.nimi}}
			<hr/>
			</div>

			

			<input type="button" ng-click="suljeVerho()" ng-value="closePage" />
		</div>

	</div> <!-- end of verho -->
	
	<div id="mapPage">
		<div style="float:left;overflow-x:hide">
		
		{{reitinNimi}} </div>
		<div id="etaisyys" style="float:right;" ng-init="lkm = 0;etaisyys = 0">POI: {{lkm}} | {{etaisyys}}m </div>
		<!--<input type="button" style="height:auto;width:auto;font-size:inherit;margin-top:10px;" ng-click="editTrail()" value="Muokkaa" />-->
	</div>
	<div id="map"></div>

	
	
	