<div id="verho">
		<div id="popup">
			<img src="img/zoomins.png"></img>
			<input type="button" id="start" ng-click="goTo('/map')" ng-value="start" />
		</div><!-- end of popup -->

	</div> <!-- end of verho -->

<input type="button" ng-click="reset()" value="reset" />
<div id="options">
	<input type="button" ng-click="goTo('/map')" ng-value="start" />
	<div class="kieli">

		<h2 ng-model="oLanguage"> {{oLanguage}} </h2>
		<img id="suomi" ng-style="{border: !language && '5px solid transparent' || '5px solid black' }" src="img/englanti.png" ng-click="changeLanguage(true)" />
		<img id="englanti" ng-style="{border: language && '5px solid transparent' || '5px solid black'}" src ="img/suomi.png" ng-click="changeLanguage(false)"/>

		<h2  ng-model="yhteystapa" ng-value="yhteystapa = (language && 'Connection mode: ' || 'Yhteystapa: ')">{{yhteystapa}}</h2>
	</div>


	<div class="connection">
	
		<toggle-switch		
		    model="connection"
		    on-label="Online"
		    knob-label=""
		    off-label="Offline">
		</toggle-switch>
	</div>

	<div class="connection" style="color:black;">
	<h2 style="text-align:center;">{{proximity}}:</h2>
		<toggle-switch		
		    model="vibrator"
		    on-label="On"
		    knob-label="{{vibTxt}}"
		    off-label="Off">
		</toggle-switch>

		<toggle-switch		
		    model="sound"
		    on-label="On"
		    knob-label="{{soundTxt}}"
		    off-label="Off">
		</toggle-switch>
	</div>
	<br>
	<input style="margin:0vh 0vh 20vh 0vh;width:99.9%;"type="button" class="" type="button" ng-click="haeTiedot()" ng-value="dlOffline" />

</div><!-- end of options -->
